# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Working files
working

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist
build

# ignore yarn.lock
yarn.lock

# ignore yarn.lock
working

cli/samples/output
