body {
  background-color: #F3F7F9;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 4em;
}

div.content div:first-of-type h1:first-of-type {
  margin-top: 0px;
}

div {
  margin-top: 0px;
  padding-top: 0px;
}

h1 {
  font-size: 25px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 28px;
  padding-right: 28px;
  margin-bottom: 21px;
  margin-top: 2em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fdfdfd;
}

h2 {
  font-size: 19px;
  margin-top: 2em;
  margin-bottom: 0;
  padding-left: 28px;
  padding-right: 28px;
  border-top: 1px solid #ccc;
  padding-top: 1.2em;
  padding-bottom: 0.6em;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 0.8em;
  padding-bottom: 0;
}

p {
  padding-left: 28px;
  padding-right: 28px;
}

ul li {
  margin-left: 28px;
  padding-right: 28px;
}

table {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 28px;
  font-size: 14px;
  border-collapse: collapse;
}

th {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-align: left;
  vertical-align: bottom;
}

table tr:last-child {
  border-bottom: 1px solid #ccc;
}

td {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  border: 0px;
  margin: 0px;
  border-top: 1px solid #eee;
  vertical-align: top;
}

tbody tr:nth-child(even) {
  background-color: #fbfcfd;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

div.content {
  margin-left: 230px;
  position: relative;
  z-index: 10;
  min-height: 100%;
  padding-bottom: 1px;
}

div.toc {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  bottom: 0;
  width: 230px;
  background-color: #000000;
  font-size: 13px;
  font-weight: bold;
  padding-top: 10px;
}

div.toc div {
  padding-top: 5px;
  padding-bottom: 5px;
}

div.toc div a {
  color: #2FB787;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

div.toc1 a {
  font-size: 13px;
  font-weight: bold;
  width: 210px;
}

div.toc1 {
  padding-left: 10px;
}

div.toc2 a {
  font-size: 10px;
  font-weight: bold;
  width: 200px;
}

div.toc2 {
  padding-left: 20px;
}

div.toc3 a {
  font-size: 9px;
  font-weight: normal;
  width: 190px;
}

div.toc3 {
  padding-left: 30px;
}
